**.dirstamp
**.ko
**.ko.cmd
**.lo
**.m4
**.mod
**.mod.c
**.mod.cmd
**.o
**.o.cmd
**.order
**.order.cmd
**.swp
**.symvers.cmd
**/.tmp_*.gcno
**/Module.symvers
**~
.deps
.libs
ChangeLog
Doxyfile
Kbuild
Makefile
Makefile.in
autoconf
autom4te.cache/
config.h
!master/uspace/config.h
config.h.in
config.log
config.status
configure
ethercat.spec
examples/dc_user/ec_dc_user_example
examples/user/ec_user_example
examples/user/build/
fake_lib/libfakeethercat.la
include/ecrt.h
lib/*.cmake
lib/libethercat.la
lib/libethercat.pc
libtool
master/**/*.o.d
script/ethercat
script/ethercat.service
script/ethercatctl
script/init.d/ethercat
stamp-h1
tool/ethercat
device_drivers.md
generated_table.md
doxygen-output/
master/uspace/ec_master
master/uspace/libethercat.la
master/uspace/libethercat.pc
master/globals.h.gch
tests/test-suite.log
tests/*.log
tests/*.trs
tests/test_datagram
tests/test_dict_gate
tests/test_emerg_ring
tests/test_irq_pin
tests/test_pdo_print
tests/test_shared
tests/test_sim_scan
tests/test_sim_scan_stale_mbox
tests/test_sim_domain
tests/test_sim_coe
tests/test_sim_pdo_assign
tests/test_sim_link
tests/test_sim_dc
tests/test_sim_dict_bg
tests/test_sim_multi
tests/test_sim_sdo_info
tests/test_sim_transport_file
tests/test_tool_ipc
tests/test_rt_pagefault
master/uspace/ethercat-config.cmake
tests/test_sim_eoe
*.tar.bz2
*.tar.gz
